# Copyright (c) 2020, Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config LOG
	default y

config LOG_PRINTK
	default y

config SENSOR_LOG_LEVEL
	default 4

# Enable SPI and I2C support by default so that the sample works with
# the device connected either way. These defaults can be overridden if
# needed.
config SPI
	default y

config I2C
	default y

# ═══════════════════════════════════════════════════════════════
# MQTT Settings
# ═══════════════════════════════════════════════════════════════
menu "MQTT Settings"

config MQTT_SAMPLE_BROKER_HOSTNAME
	string "MQTT broker hostname"
	default "broker.hivemq.com"

config MQTT_SAMPLE_PUB_TOPIC
	string "MQTT publish topic"
	default "nrfbelt/sensors"

config MQTT_SAMPLE_SUB_TOPIC
	string "MQTT subscribe topic"
	default "nrfbelt/commands"

config MQTT_CLIENT_ID
	string "MQTT Client ID"
	default "nrf7002-belt"

endmenu

source "Kconfig.zephyr"